body {
    background-color: #F9F7FE;
    font-family: arial, sans-serif;

    padding-top: 100px;

}

div.container {

    max-width: 500px;
    margin: 0 auto;
    border: 1px solid rgb(247, 245, 246);
    border-radius: 10px;
    padding: 10px 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px 0px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.city {
    color: #373637;
    padding: 10px 0;
}

.date {
    font-size: 20px;
    color: rgb(86, 85, 85);
    padding-bottom: 30px;

}


li {
    list-style: none;
}

li::first-letter {
    text-transform: uppercase;
}


.coder {
    padding-bottom: 20px;
}